/.env
/.env.*
!/.env.example

/vendor/
/node_modules/

/.idea/
/.vscode/

/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore

/storage/*.key
/storage/app/*
!/storage/app/.gitignore
!/storage/app/public/
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/framework/*
!/storage/framework/.gitignore
!/storage/framework/cache/
!/storage/framework/sessions/
!/storage/framework/testing/
!/storage/framework/views/
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
!/storage/framework/cache/data/
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

/.phpunit.result.cache
/.phpunit.cache/
/phpunit.xml

/.htaccess

/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/pnpm-debug.log*

/public/.user.ini
/public/404.html
/public/index.html

/storage/install/mysql.php
/storage/install/version.php
/storage/framework/install/
/storage/app/install/

/Homestead.json
/Homestead.yaml
