{extend name="index/layout" /}
{block name="app"}
<div class="row">
    <div class="col-xl-12 mt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active">管理员登录</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="bg-faded p-3 border-top-0">
            <form action="{:url('ajax/adminLogin')}" method="post" id="adminLoginForm">
                <div class="form-group">
                    <input type="text" name="user" placeholder="管理员账号" class="form-control" datatype="s3-15" required>
                </div>
                <div class="form-group">
                    <input type="password" name="pwd" placeholder="管理员密码" class="form-control" datatype="s5-15"
                           required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary form-control">登录</button>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
