{extend name="index/layout" /}
{block name="app"}
<div class="row">
    <div class="col-xl-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active">找回密码</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="bg-faded p-3 border-top-0">
            <form action="{:url('ajax/password')}" method="post" id="loginForm">
                <div class="form-group">
                    <input type="text" name="user" placeholder="输入用户名/邮箱" class="form-control" datatype="*"
                           required>
                </div>
                <div class="form-group">
                    <input type="text" minlength="5" maxlength="5" name="code" placeholder="输入验证码"
                           datatype="s5-5" class="form-control" required>
                </div>
                <div class="form-group text-center">
                    <img src="/other/code.php" onclick="this.src='/other/code.php?'+Math.random();"
                         title="点击更换验证码">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary form-control">找回密码</button>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
